<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<style>

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  
</style>

 <h3>Contact Person</h3>
           <div class="container">
            <div class="row">
             <div class="col-sm">
             <div class="pt-1">
             First and Middle Name: 
             <input class="fill_filed" type="text" name="name1" id='name1'><br>
             Last Name:
             <input class="fill_filed" type="text" name="name2" id='name2'><br>
             Designation:
             <input type="text" name="designation" id='designation'><br>
             Phone Number:
             <input type="text" name="phone1" id='phone1'><br>
             Alternative Phone Number:
             <input type="text" name="phone2" id='phone2'><br>
             </div>
             </div>
             <div class="col-sm">
             <div class="pt-2">
             Email:
             <input class="fill1" type="text" name="email" id='email'><br>
             PAN Number: 
             <input class="fill1" type="text" name="shop_pan_number" id='shop_pan_number'><br>
             Image: 
             <input type="file" name="fileupload4" value="fileupload4" id="fileupload4"><label for="fileupload4"> Select a file to upload</label> <br>
             Aadhar Number:
             <input class="fill1" type="text" name="owner_aadhar_no" id='pwner_aadhar_no'><br>
             Image: 
             <input type="file" name="fileupload5" value="fileupload5" id="fileupload5"><label for="fileupload5"> Select a file to upload</label> <br>
             </div>
             </div>
         </div> 
         </div> 
      
             
         
       
 <h3 class "h2">Company Details</h3>

         <div class="container">
            <div class="row">
             
            <div class="col-sm">
             Shop Name:
             <input type="text" name="shopname" id='shop'><br>
             Image:
             <input type="file" name="fileupload1" value="fileupload1" id="fileupload1"><br> <label for="fileupload1"> Select a file to upload</label> <br>
             Phone Number:
             <input type="text" name="phone3" id='phone3'><br>
             Email:
             <input type="text" name="email" id='email'><br>
             Addrress:
             <input type="text" name="adress" id='adress'><br>
             Alternative address:
             <input type="text" name="adress2" id='adress2'><br>
             City:
             <input type="text" name="city" id='city'><br>
             Pincode:
             <input type="text" name="pin" id='pin'><br>
             State:
             <input type="text" name="state" id='state'><br>
             </div>
             
             <div class="col-sm">
             
             
             Company Email:
             <input type="text" name="email" id='email'><br>
             GST Number:
             <input type="text" name="gst_no" id='gst_no'><br>
             Image:
             <input type="file" name="fileupload2" value="fileupload2" id="fileupload2"><br><label for="fileupload2"> Select a file to upload</label> <br> 
             Shop PAN Number:
             <input type="text" name="shop-pan_number" id='shop_pan_number'><br>
             Image:
             <input type="file" name="fileupload3" value="fileupload3" id="fileupload3"><br><label for="fileupload3"> Select a file to upload</label> <br>
             Certificate of Incorporation:
             Image:
             <input type="file" name="fileupload2" value="fileupload2" id="fileupload2"><br><label for="fileupload2"> Select a file to upload</label> <br> 
             </div>

             <div class="col-sm">
                         
             Trade License Certificate:
             <input type="file" name="fileupload6" value="fileupload6" id="fileupload6"><br><label for="fileupload6"> Select a file to upload</label> <br>
             ISO certificate:
             <input type="file" name="fileupload8" value="fileupload8" id="fileupload8"><br><label for="fileupload8"> Select a file to upload</label> <br>
             Rental Agreement:
             <input type="file" name="fileupload8" value="fileupload8" id="fileupload8"><br><label for="fileupload8"> Select a file to upload</label> <br>
             Electric Bill:
             <input type="file" name="fileupload8" value="fileupload8" id="fileupload8"><br><label for="fileupload8"> Select a file to upload</label> <br>
             Telephone Bill:
             <input type="file" name="fileupload8" value="fileupload8" id="fileupload8"><br><label for="fileupload8"> Select a file to upload</label> <br>
             </div>

          </div> 
         </div> 
           
 <h3 class="hs">Bank Details</h3>
      <div class="container">
         <div class="row">
             <div class="col-sm">
             Bank name:
             <input type="text" name="bankname" id='bank'><br>
             Account holder name:
             <input type="text" name="holdername" id='holder'><br>
             Account number:
             <input type="text" name="account1" id='account1'><br>
             Confirm Account number:
             <input type="text" name="account2" id='account2'><br>
             </div>
             <div class="col-sm">
             IFSC code:
             <input type="text" name="code" id='code'><br>
             Branch:
             <input type="text" name="branch" id='branch'><br>
             Account type:
             <input type="text" name="accounttype" id='type'><br>
             Canceled cheque:
             <input type="file" name="fileupload4" value="fileupload4" id="fileupload4"><br><label for="fileupload4"> Select a file to upload</label>           
             </div>
          </div>
       </div> 
 
 



<button type="submit" form="form1" value="Submit">Submit</button>

