 <centre>
 <form>
  Owner name:<br>
  <input type="text" name="ownername" id='name'><br>
  Shop name:<br>
  <input type="text" name="shopname" id='shop'><br>
   Phone Number:<br>
  <input type="text" name="phone1" id='phone1'><br>
   Alternative Phone Number:<br>
  <input type="text" name="phone2" id='phone2'><br>
   Addrress:<br>
  <input type="text" name="adress" id='adress'><br>
   Alternative Address:<br>
  <input type="text" name="adress2" id='adress2'><br>
  City:<br>
  <input type="text" name="city" id='city'><br>
   Pincode:<br>
  <input type="text" name="pin" id='pin'><br>
   State:<br>
  <input type="text" name="state" id='state'><br>
   Image:<br>
  <input type="file" name="fileupload1" value="fileupload1" id="fileupload1"> <label for="fileupload1"> Select a file to upload</label> <br>
  <input type="image">
   Working hour from:<br>
  <input type="text" name="work_from" id='work_from'><br>
   Working hour to:<br>
  <input type="text" name="work_to" id='work_to'><br>
   Website:<br>
  <input type="text" name="website" id='website'><br>
   Company Email:<br>
  <input type="email" name="companyemail" id='companyemail'><br>
   Intro:<br>
  <input type="text" name="intro" id='intro'><br>
   GST number:<br>
  <input type="text" name="gst_no" id='gst_no'><br>
  GST certificate:<br>
   <input type="file" name="fileupload2" value="fileupload2" id="fileupload2"> <label for="fileupload2"> Select a file to upload</label> <br>
   <input type="image"><br>

   Shop pan number:<br>
  <input type="text" name="shop-pan_number" id='shop_pan_number'><br>
   Shop pan:<br>
   <input type="file" name="fileupload3" value="fileupload3" id="fileupload3"> <label for="fileupload3"> Select a file to upload</label> <br>
   <input type="image"><br>
   Owner pan number:<br>
  <input type="text" name="shop_pan_number" id='shop_pan_number'><br>
   Owner Pan Card:<br>
   <input type="file" name="fileupload4" value="fileupload4" id="fileupload4"> <label for="fileupload4"> Select a file to upload</label> <br>
   <input type="image">
  Owner adhaar number:<br>
  <input type="text" name="owner_adhar_no" id='pwner_adhar_no'><br>
   Adhar card image:<br>
  <input type="file" name="fileupload5" value="fileupload5" id="fileupload5"> <label for="fileupload5"> Select a file to upload</label> <br>
  <input type="image"><br>
  Trade License Number:<br>
  <input type="text" name="trade_no" id='trade_no'><br>
   Trade License Certificate:<br>
   <input type="file" name="fileupload6" value="fileupload6" id="fileupload6"> <label for="fileupload6"> Select a file to upload</label> <br>
  <input type="image">
   Municiapality Corperation Certificate Number:<br>
  <input type="text" name="munc_corp_no" id='munc-corp_no'><br>
   Municipality Corperation Certificate Image:<br>
  <input type="file" name="fileupload7" value="fileupload7" id="fileupload7"> <label for="fileupload7"> Select a file to upload</label> <br>
  <input type="image"><br>
  ISO number:<br>
  <input type="text" name="iso_no" id='iso_no'><br>
  ISO certificate:<br>
  <input type="file" name="fileupload8" value="fileupload8" id="fileupload8"> <label for="fileupload8"> Select a file to upload</label> <br>
  <input type="image"><br>
  <button type="submit" form="form1" value="Submit">Submit</button>
</centre>

  


</form>